/* Custom Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
* {
	outline: none;
}
body {
	background: #fff;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Bebas Neue', cursive;
}
p {
	font-family: 'Cairo', sans-serif;
}
ul {
    list-style-type: none;
}
a, li {
	outline: none;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
	outline: none;
}
.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.navbar-fixed{
	position: fixed;
	top: 0;
	width: 100%;
}


.navbar {
	background: #2460f6;
	border: none;
	margin: 0px;
}
.navbar-default .navbar-nav>li>a{
	color: #ededed;
	transition: 0.5s;

}
ion-icon.md.hydrated {
	position: relative;
	top: -7px;
	font-size: 19px;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
	transition: 0.5s;
}
.navbar-default .navbar-toggle {
    border: none;
    background: transparent;
    color: #fff;
}	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: transparent;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	color: #fff;
	outline: none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: none;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

/* slider*/
.slider {
	background: #2460f6;
	margin-bottom: 20px;
}
.sl-item {
	outline: none;
	cursor: pointer;
}
.sl-img img {
	width: 100%;
}
.slick-content {
	color: #fff;
	margin-top: 40px;
}.slick-content p {
	text-transform: uppercase;
	margin-bottom: -20px;
}
.btn-slide {
	background: #b2b0fa;
	color: #fff;
	transition: 0.2s;
}.btn-slide:hover{
	transition: 0.3s;
	color: #fff;
	box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.2);
}

/*section-mini-service*/
.section-mini-service {
	margin-top: 50px;
}
.section-m-2 {
	margin-top: -40px;
}

.thumbnail  {
	border: none;
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
	transition: .8s;
}
.mini-service{
	border: none;
	box-shadow: 0px 14px 9px rgba(0,0,0,0.1);
	transition: .8s;

}
.mini-service:hover {
	transition: .7s;
	-webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);

}



.thm-img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 50px; 
	background: red;
	background: #fededf;
	position: relative;
}
.thm-img:after{
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background: #fededf;
	border: 2px solid rgba(249, 104, 105, 1);
	border-radius: 50%;
	top: 0; left: 20px;
}
.thm-img:before{
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	background: #fededf;
	border: 2px solid rgba(249, 104, 105, 1);
	border-radius: 50%;
	bottom: 0;
	right: 20px;
}
.thn-img-2 {
	background: #effae9;
}
.thn-img-2:after{
	background: #effae9;
	border: 2px solid #69e225;
}
.thn-img-2:before{
	background: #effae9;
	border: 2px solid #69e225;
}
.thn-img-3 {
	background: #daf3ed;
}
.thn-img-3:after{
	background: #daf3ed;
	border: 2px solid #21dab0;
}
.thn-img-3:before{
	background: #daf3ed;
	border: 2px solid #21dab0;
}


.thm-img img {
	width: 80px;
	position: relative;
	top: 30px;
	left: 30px; bottom: 0;
	margin: 0 auto;
}
.caption {
	text-align: center;
}

.btn-sm {
	width: 80%;
	background: #2460f6;
	color: #fff;
	outline: none;
	margin-top: 20px;
	margin-bottom: 40px;
}
.btn-sm:hover {
	color: #fff;
}
.bg {
	padding: 8px;
	background: red;
}
.btn-sm:focus {
	color: #fff;
	outline: none;
}

/*six step*/
.six-step {
	margin-top: 50px;

}
.step-title {
	color: #43517c;
}
.step-img img {
	width: 100%;
	position: relative;
	top: 40px;
}
ion-icon.ion-st.md.hydrated{
	font-size: 2em;
	position: relative;
	display: block;
	padding: 5px;
	top: 4px;
	left: -15px;
	background: transparent;
	border: 1px solid #73ddfb;
	border-radius: 50%;
	color: #73ddfb;
	transition: 0.4s;
	cursor: pointer;
} 

ion-icon.ion-st.md.hydrated:hover{
	background: #73ddfb;
	border-radius: 50%;
	color: #fff;
	transition: 0.4s;
}
.btn-step {
	width: 100%;
	background: #73ddfb;
}


/* completed projects and other */
.steps {
	margin-top: 80px;
	margin-bottom: 50px;
}
.price {
	width: 100%;
	display: inline-block;
	border: 5px solid #fff1ee;
	background: #fff;
	text-align: center;
	color: #43517c;
	cursor: pointer;
	padding: 8px;
	height: auto;
	position: relative;
	transition: .4s;
	overflow: hidden;

}
.price h1 {
	position: relative;
}

.price:hover {
	transition: .5s;
	border: 5px solid #fc7c55;
	background: #fc7c55;
	border-radius: 4px;
	color: #fff1ee;
}
.price:hover h1{
	color: #fff;
}
.price:hover ion-icon.price-icon.md.hydrated{
	color: #fff1ee;
	opacity: .3;
}
ion-icon.price-icon.md.hydrated{
	font-size: 6em;
	position: absolute;
	color: #fff1ee;
	top: 4%;
    left: 33%;
	bottom: 0;
	margin: 0 auto;
}


/*check-your-website-speed*/
.check-your-website-speed {
	background: #2d85ff;
	color: #fff;
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
}

.form-cheking-speed {

	position: relative;
	z-index: 1;
	padding: 40px;
	margin-bottom: 80px;
}
.form-title {
	margin-bottom:  40px;
}
.img-speed img{
	width: 430px;
	position: absolute;
	top: 10px;
	right: -30px;
	z-index: -1;
}

.input {
	width: 100%;
	border: none;
	padding: 16px;
	background: #5d74f4;
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);
	color: #fff;
	outline: none;
	border-radius: 3px;
	font-family: 'Cairo', sans-serif ;

}
.input::placeholder{
	color: #fff;
	font-family: 'Cairo', sans-serif ;

}
.btn-form {
	width: 100%;
	border: none;
	padding-bottom: 12px;
	background: #fc7c55 ;
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.2);
	color: #fff;
	outline: none;
	border-radius: 3px;
	font-size: 23px;
	font-family: 'Cairo', sans-serif ;
}
.btn-form:hover {
	color: #fff;

}
canvas#canvas {
	width: 100%;
	position: absolute;
	left: 0; top: 0px;
	z-index: -1;
}


/* services */
#tabs {
	margin-bottom: 80px;
}
.tabs__content.active {
  display: block; 
}

a.tab-articl:hover,
a.tab-articl:focus{
	outline: none;

}
a.tab-articl h3, .tabs_content h4 {
	color:#43517c;
}

.tab-img img{
	margin-left: 30px;
	border: 1px dashed #fc7c55;
	width: 160px;
	padding: 40px;

}

.tab-img img:hover .tab-img{
	background: #fc7c55;
}

.tab-articl-2 .tab-img img{
	border-color: #75cd42;
}
.tab-articl-3 .tab-img img {
	border-color: #73a0e9;
}

.tab-articl-4 .tab-img img {
	
	border-color: #44cdb1;
}

.tab-title {
	text-align: center;
	margin-left: 30px;

}

.tabs-content-img img {
	width: 100%;
}

/*content*/
.tabs_content {
	margin-top: 70px;
}

.fl_left_icon {
	padding: 8px;
	position: relative;
	top: 8px;
	color: #fc7c55;
}

/* works */
.works {
	background: #f4f9ff;
}
.work-section-title {
	color: #fc7c55;
}

.thumbn-work {
	margin-top: 30px;
	margin-right: 23px;
	margin-left: 23px;
	box-shadow: 0 0px 6px 0px  rgba(0, 0, 0, 0.35);;
	transition: .8s;
}
.thumbn-work:last-child{
	margin-right: 0px;
}

.slick-dotted.slick-slider {
	margin-bottom: 124px;
}

.work-img img {
	width: 100%;
}
.work-title {
	text-align: left;
}
.btn-work{
	width: 30px;
	height: 30px;
	color: #fff ;
	background: #fb7f59;
	border-radius: 50%;
}


.btn-work:focus {
	
	color: #fff;
}


.btn-work ion-icon.md.hydrated {
	position: relative;
	margin-top: 6px;
	right: 6px;
}

.btnw-con .btn-work:hover {
	color: #fff;
}


.slick-dots li {
	width: 50px;
	border-radius: 11px;
	transition: .5s;
	background: #feded4;
	
}
.slick-dots {
	position: relative;
}
.slick-dots li button {
	width: 50px;
	display: block;
	border-radius: 11px;
}
.slick-dots .slick-active {
	transition: .4s;
	
	width: 80px;
	background: #fc7c55;
	border-radius: 10px;
}
.slick-dots li button:before{
	display: none;
}


/*team*/
.team-section {
	position: relative;
	
}

.our-team {
	margin-top: 60px;
	
}
.team-sec {
	padding: 0;
	
}
.ava-img {
	width: 100%;
	height: 230px;
	background: #000;
}
.front-end-ava {
	background: url(https://a1cf74336522e87f135f-2f21ace9a6cf0052456644b80fa06d4f.ssl.cf2.rackcdn.com/images/characters_opt/p-Sherlock-Martin-Freeman.jpg) center center no-repeat;
	background-size: cover;
}
.back-end-ava {
	background: url(https://images.glaciermedia.ca/polopoly_fs/1.10077137.1593298433!/fileImage/httpImage/image.jpg_gen/derivatives/landscape_804/9726-jpg.jpg) center center no-repeat;
	background-size: cover;
}
.team-lead-ava {
	background: url(https://pbs.twimg.com/profile_images/1060064356543672320/IYQj8toL_400x400.jpg) center center no-repeat;
	background-size: cover;	
}

/*feeds*/
.feedback {
	position: relative;
}
.slick-slide-feed {
	margin-bottom: 20px;
}
.poly_feed{
	width: 100%;
	height: 400px;
	bottom: 0;
    position: absolute;
    clip-path: polygon(0 78%, 100% 1%, 100% 100%, 0% 100%);
    background: #2939f0;
    z-index: -1;
}
.well {
	background: #fff;
	border: none;
	color: #5e456a;
	cursor: pointer;
	margin: 7px;
	box-shadow: 0px 0px 9px  rgba(0,0,0,0.4);
}

.well-content{
	font-size: 1.6em;
}

.client-ava {
	width: 120px;
	height: 120px;
	background: url(https://static.wikia.nocookie.net/sherlockholmes/images/4/47/Jim_Moriarty.jpg/revision/latest?cb=20140110185928&path-prefix=es) no-repeat center center;
	background-size: cover;
	border-radius: 9px;
}

/* blog section*/


.blog_content{
	background: #f8f8f8;
	
}

.blog-img {
	width: 100%;
	height: 300px;
	background: url(https://wallpaperaccess.com/full/1626298.jpg) no-repeat center center;
	background-size: cover;
}

.blog-info {
	text-align: left !important;
}

.icons-text > ion-icon.md{
	position: relative;
	top: 4px;
	color: #226377;
}
.blog-btn{
	background:  #39d69f ;
	color: #fff;
	border-radius: 20px;
}
.blog-btn:focus {
	color: #fff;
}
.blog-btn:hover {
	color: #fff;
}

/* footer */

.main-footer {
	background: #16085f;
	color:#fff;
}
.footer-nav li a {
	color:#ededed;
}
.footer-menu li a {
	text-decoration: none;
	transition: 0.5s;
}
.footer-menu li a:hover{
	transition: 0.6s;
	padding-left: 7px;
}



/* Media*/

@media only screen and (max-width: 768px) {
	body{overflow-x: hidden; }
	.navbar-nav li {
		margin-left: -10px;
		position: relative;
		left: -10px;
	}
	.slick-slider {
		position: relative;
		top: -30px;
	}
	.sl-img img {
		display: none;
	}
	.svg-container {
	  position: absolute;
	  top: 0;
	  right: 0;
	  left: 0;
	  z-index: -1;
	}
	.mini-service{
		margin-bottom: 70px;
	}
	
	ion-icon.ion-st.md.hydrated {
		left: 0px;
	}
	.img-speed {
		display: none;
	}
	.input, .btn-form {
		margin-bottom: 20px;
	}
	a.tab-articl h3, .tabs_content h4{
		position: relative;
		left: -50px;
	}
	
	.ui-tabs-panel  {
		position: relative;
		top: -30px;
	}
	.our-team > .work-section-title {
    color: #fc7c55;
    margin-left: 10px;
}
	.well {
		margin-top: 30px;
		font-size: 60%;
	}
}

@media only screen and (max-width: 425px) {
	body{overflow-x: hidden; }
	.navbar-nav li {
		margin: 0;
		position: relative;
		left: 0px;
	}
	
	.slick-slider {
		position: relative;
		top: -30px;
	}
	.sl-img img {
		display: none;
	}
	.svg-container {
	  position: absolute;
	  top: 190px;
	  right: 0;
	  left: 0;
	  z-index: -1;
	}
	.mini-service{
		margin-bottom: 70px;
	}
	
	ion-icon.ion-st.md.hydrated {
		left: -26px;
	}
	.img-speed {
		display: none;
	}
	.input, .btn-form {
		margin-bottom: 20px;
	}
	.tab-title{
		margin-left: 0px;
	}
	.tab-title h3{
		position: relative;
		font-size: 20px;
		left:-47px;
		top: -40px;
	}
	.ui-tab{
		margin-bottom: -40px;
	}
	.tab-img {
		width: 100%;
	}
	a.tab-articl h3, .tabs_content h4{
		position: relative;
		left: -27px;
	}
	.tab-img ,
	.tab-img img {
		width: 90px;
		margin: 10px;
		margin-left: -20px;
		padding: 9px;
		display: inline-block;
	}
	.ui-tabs-panel  {
		position: relative;
		top: -30px;
	}
	.our-team > .work-section-title {
    	color: #fc7c55;
    	margin-left: 10px;
	}
	.well {
		margin-top: 30px;
		font-size: 60%;
	}
}

@media only screen and (max-width: 320px) {
	.slick-slider {
		position: relative;
		top: -30px;
	}
	.sl-img img {
		display: none;
	}
	.svg-container {
	  position: absolute;
	  top: 190px;
	  right: 0;
	  left: 0;
	  z-index: -1;
	}
	.mini-service{
		margin-bottom: 70px;
	}
	
	ion-icon.ion-st.md.hydrated {
		left: -26px;
	}
	.img-speed {
		display: none;
	}
	.input, .btn-form {
		margin-bottom: 20px;
	}
	.tab-title{
		margin-left: 0px;
	}
	.tab-title h3{
		position: relative;
		font-size: 20px;
		left:-24px;
		top: -40px;
	}
	.ui-tab{
		margin-bottom: -40px;
	}
	.tab-img {
		width: 100%;
	}
	.tab-img ,
	.tab-img img {
		width: 90px;
		margin: 10px;
		margin-left: -20px;
		padding: 9px;
		display: inline-block;
	}
	.ui-tabs-panel  {
		position: relative;
		top: -30px;
	}
	.our-team > .work-section-title {
    color: #fc7c55;
    margin-left: 10px;
}
	.well {
		margin-top: 30px;
		font-size: 60%;
	}
}

.wrap-loader{z-index: 1000;}
